Repository anotherbyte-net/leaf-focus, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, tests

feat: implemented xpdf wrappers
  src/leaf_focus/app.py
  src/leaf_focus/cli.py
  src/leaf_focus/model.py
  src/leaf_focus/program.py
  src/leaf_focus/utils.py
  tests/conftest.py
  tests/resources/452.06-win10-win8-win7-release-notes.pdf
  tests/resources/__init__.py
  tests/test_cli.py
  tests/test_xpdf.py
Labels: tests

feat: implement ocr wrappers
  requirements-dev.txt
  requirements.txt
  src/leaf_focus/app.py
  src/leaf_focus/cli.py
  src/leaf_focus/ocr/__init__.py
  src/leaf_focus/ocr/keras_ocr.py
  src/leaf_focus/ocr/model.py
  src/leaf_focus/pdf/__init__.py
  src/leaf_focus/pdf/model.py
  src/leaf_focus/pdf/xpdf.py
  src/leaf_focus/utils.py
  tests/conftest.py
  tests/resources/452.06-win10-win8-win7-release-notes-page-22.png
  tests/test_cli.py
  tests/test_keras_ocr.py
  tests/test_xpdf.py
Labels: dependencies, tests

feat: include xml element wrapper
  src/leaf_focus/xml.py
Labels: none

feat: don't overwrite existing files
  .idea/other.xml
  requirements.txt
  src/leaf_focus/app.py
  src/leaf_focus/cli.py
  src/leaf_focus/ocr/keras_ocr.py
  src/leaf_focus/ocr/model.py
  src/leaf_focus/pdf/model.py
  src/leaf_focus/pdf/xpdf.py
  src/leaf_focus/utils.py
  src/leaf_focus/xml.py
  tests/conftest.py
  tests/resources/452.06-win10-win8-win7-release-notes-page-22.png
  tests/resources/example1/452-06-win10-win8-win7-release-notes-info.json
  tests/resources/example1/452-06-win10-win8-win7-release-notes-output-layout-eol-dos.txt
  tests/resources/example1/452-06-win10-win8-win7-release-notes-page-image-gray-000022-annotations.png
  tests/resources/example1/452-06-win10-win8-win7-release-notes-page-image-gray-000022-predictions.csv
  tests/resources/example1/452-06-win10-win8-win7-release-notes-page-image-gray-000022.png
  tests/resources/example1/452.06-win10-win8-win7-release-notes.pdf
  tests/resources/example1/__init__.py
  tests/test_cli.py
  tests/test_keras_ocr.py
  tests/test_leaf_focus.py
  tests/test_xpdf.py
Labels: dependencies, tests

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: none

Create CODEOWNERS
  .github/CODEOWNERS
Labels: none

fix: dep conditions and changes to build on Python >= 3.7
  .github/workflows/codeql.yml
  .github/workflows/create-package.yml
  .idea/leaf-focus.iml
  .idea/webResources.xml
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  setup.cfg
  src/leaf_focus/__init__.py
  src/leaf_focus/app.py
  src/leaf_focus/cli.py
  src/leaf_focus/ocr/__init__.py
  src/leaf_focus/ocr/keras_ocr.py
  src/leaf_focus/ocr/model.py
  src/leaf_focus/pdf/__init__.py
  src/leaf_focus/pdf/model.py
  src/leaf_focus/pdf/xpdf.py
  src/leaf_focus/utils.py
  tests/test_leaf_focus.py
Labels: dependencies, tests

feat: added api docs generated by pdoc3
  .gitignore
  .readthedocs.yml
  CHANGELOG.md
  README.md
  docs/Makefile
  docs/doc-search.html
  docs/index.js
  docs/leaf_focus/app.html
  docs/leaf_focus/cli.html
  docs/leaf_focus/index.html
  docs/leaf_focus/ocr/index.html
  docs/leaf_focus/ocr/keras_ocr.html
  docs/leaf_focus/ocr/model.html
  docs/leaf_focus/pdf/index.html
  docs/leaf_focus/pdf/model.html
  docs/leaf_focus/pdf/xpdf.html
  docs/leaf_focus/utils.html
  docs/make.bat
  docs/requirements.txt
  docs/source/api.rst
  docs/source/conf.py
  docs/source/index.rst
  pyproject.toml
  requirements-dev.txt
  src/leaf_focus/__init__.py
  src/leaf_focus/app.py
  src/leaf_focus/cli.py
  src/leaf_focus/ocr/keras_ocr.py
Labels: documentation, dependencies

docs: add contributing info
  CONTRIBUTING.md
  README.md
Labels: none

.github/labeler.yml:

documentation:
  - docs/**/*

dependencies:
  - requirements.txt
  - requirements-dev.txt
  - docs/requirements.txt
  - pyproject.toml
  - MANIFEST.in

tests:
  - tests/**/*
